@import url("bootstrap.min.css");
@import url("bootstrap-theme.css");
.carousel-inner {
  height: 300px;
}

#appTitle {
  text-align:center;
  color: white;
}

#appDesc {
  text-align:center;
  color: white;
}

#appLogo {
  height:60px;
  width:60px;
  display:block;
  margin-left: auto;
  margin-right: auto;
  width:50%;
}

#appPic {
  margin-left: 25%;
  float: left;
}

.social {
  margin-left: 10%;
  height:250px;
  width:290px;
  float: left;
}

.logobanner {
  background-color: #003B66;
  height: 150px;
}

.appInfo {
  background-color: #003B66;
  height: 150px;
}
.akInfo {
  background-color: #003B66;
  height: 150px;
}
