/* Nav bar - Ryan Swales */


#navBar{
  width: 0;
  height:100vh;
  position: fixed;
  background-color: #003B66;
  top:0;
  left:0;
  padding: 30px 10px;
  display: flex;
}

#bugerBtn{
  position: absolute;
  right:40px;
  top:20px;
  font-size: 35px;
}

#closeBtn{
  position: absolute;
  right:40px;
  top:20px;
  font-size: 35px;
  color: white;
}

#bugerBtn:hover, closeBtn:hover{
  cursor: pointer;
}

#navBar ul{
  display: flex;
  justify-content: space-between;
  flex-direction:column;
}


#navBar li {
    list-style-type: none;
    margin-bottom: 12px;
    padding: 2px;
}

#NavBar li:hover{
  cursor: pointer;

}

#navBar a {
  text-decoration: none;
  color: #FFFFFF;
  display: inline-block;
  text-decoration: none;
}

#navBar ul li a:hover{
  /* background-color: blue; */
  color: #FFAC00;
  text-decoration: underline;
}




@media only screen and (min-width:992px){
  #bugerBtn{
    visibility: hidden;
  }

  #navBar {
    width: 100vw;
    height:40px;
    position: fixed;
    top:0;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

  #navBar ul {
    box-sizing: border-box;
    display: inline;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    padding: 10px;
  }
