<html>
<head>
  <title>About Us Page</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Nav bar</title>
  <link rel="stylesheet" href="NavBar.css">
  <script src="NavOverlay.js"></script>
</head>
<link rel="stylesheet" href="aboutus.css">

<body>
  <div id="bugerBtn" onclick= "Navo()" > &#9776; </div>

  <nav id="navBar">
    <div class="NavBrand">
      <img src="">
      <div id="closeBtn" onclick= "Navc()" > &#10006; </div>
    </div>
    <ul class= "Navlinks">
      <li id="navLogoContainer"><a href="places holder"><img id="navLogo" src="Images/Logo mark.png" alt=""></a></li>
      <li><a href="places holder">Home</a></li>
      <li><a href="places holder">Patients</a></li>
      <li><a href="places holder">Support</a></li>
      <li><a href="places holder">Contact</a></li>
      <li><a href="places holder">Updates</a></li>
      <li><a href="places holder">About</a></li>
      <li><a href="places holder">Log in</a></li>
    </ul>
  </nav> <br>

  <div class="about-section">
    <h1>About Us Page</h1>
    <p>We are an ambitious and strong establishment with an intense and vital vision. We are situated in a wonderful and florishing city of Wales.</p>
    <p>Read about the services we provide, How we work, Our team, History and Social Media/App.</p>
  </div>

  <div class="row">
    <div class="Historycolumn">
      <div class="Historycard">
        <div class="container">
          <p class="title">History of Agile Kinetics</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>abc@example.com</p>
        </div>
      </div>
    </div>

    <div class="Historycolumn">
      <div class="card">
        <img src="Images/SHIELD Badge.png" alt="123" style="width:100%">
        <div class="container"></div>
    </div>
  </div>
</div>

<div class="row">
  <div class="Whowearecolumn">
    <div class="card">
      <img src="Images/SHIELD Badge.png" alt="123" style="width:100%">
      <div class="container"></div>
    </div>
  </div>

  <div class="Whowearecolumn">
    <div class="Whowearecard">
      <div class="container">
        <p class="title">Who we are</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>abc@example.com</p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="Socialmediacolumn">
    <div class="Socialmediacard">
      <div class="container">
        <p class="title">Social Media/App</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>abc@example.com</p>
      </div>
    </div>
  </div>

  <div class="Socialmediacolumn">
    <div class="card">
      <img src="Images/SHIELD Badge.png" alt="123" style="width:100%">
      <div class="container"></div>
  </div>
</div>
</div>


<h2 style="text-align:center">Our Team</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="Images/mobility_hub_logo.png" alt="ABC" style="width:100%">
        <div class="container">
          <h2>ABC</h2>
          <p class="title">Surgeon</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>abc@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>


    <div class="column">
      <div class="card">
        <img src="Images/mobility_hub_logo.png" alt="123" style="width:100%">
        <div class="container">
          <h2>123</h2>
          <p class="title">Physician</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>123@example.com</p>
          <p><button class="button">Contact</button></p>
          </div>
        </div>
    </div>


    <div class="column">
      <div class="card">
        <img src="Images/mobility_hub_logo.png" alt="XYZ" style="width:100%">
        <div class="container">
          <h2>XYZ</h2>
          <p class="title">Physician</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>xyz@example.com</p>
          <p><button class="button">Contact</button></p>
          </div>
        </div>
    </div>

    <div class="column">
      <div class="card">
        <img src="Images/mobility_hub_logo.png" alt="000" style="width:100%">
        <div class="container">
          <h2>000</h2>
          <p class="title">Physician</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>000@example.com</p>
          <p><button class="button">Contact</button></p>
          </div>
        </div>
    </div>
  </div>
</body>


<footer class="footer">
<p> This is a footer </p>
</footer>
</html>
