{% extends "Base.html" %}

{%block Content %}
<head>
  <link rel="stylesheet" href="static/CSS/admin.css">
</head>

<div class="admin">
  <h2>Admin</h2>

  <div class="updateBlog updateSection">
    <h3>Add Blog Post</h3>
    <form action="/blog" method="post" id="updateBlogForm" name="updateBlogForm">

      <label for="updateTitle">Title</label><br>
      <input type="text" name="blogUpdateTitle"><br>

      <label for="updateText">Message</label><br>
      <textarea name="blogUpdateText" rows="8" cols="80"></textarea><br>

      <label for="updateAuthor">Author</label><br>
      <input type="text" name="blogUpdateAuthor"><br>

      <button type="submit">Upload</button>
    </form>
  </div>


  <div class="updateFAQ updateSection">
    <h3>Add Frequently Asked Question</h3>
</div>

{%endblock%}
