{% extends "Base.html" %}

{%block Content %}
<head>
  <link rel="stylesheet" href="static/CSS/admin.css">
</head>

<div class="admin">
  <h2>Admin</h2>

  <div class="updateBlog updateSection">
    <h3>Add Blog Post</h3>
    <form id="blogUpload" method="post" id="updateBlogForm" name="return updateBlogSubmit()">

      <label for="blogUpdateTitle">Title</label><br>
      <input type="text" name="blogUpdateTitle"><br>

      <label for="blogUpdateAuthor">Author</label><br>
      <input type="text" name="blogUpdateAuthor"><br>

      <label for="blogUpdateText">Message</label><br>
      <textarea name="blogUpdateText" rows="8" cols="80"></textarea><br>

      <button type="submit" name="SubmitBtn" value="SubmitBlog">Upload</button>
    </form>
  </div>


  <div class="updateFAQ updateSection">
    <h3>Add Frequently Asked Question</h3>
    <form id="updateFAQForm" name="updateFAQForm" onsubmit="return FaqSubmit()">

      <label for="faqQuestion">Question</label><br>
      <input type="text" name="faqQuestion"><br>

      <label for="updateText">Answer</label><br>
      <textarea name="faqAnswer" rows="8" cols="80"></textarea><br>

      <button type="submit" name="SubmitBtn" value="SubmitFAQ">Upload</button>
    </form>
    <span id="txt"></span>
</div>

<script>
  //Add blog script
  function updateBlogSubmit() {
    console.log("Blog post upload started")
    var addTitle = document.forms["updateBlogForm"]["blogUpdateTitle"].value;
    var addAuthor = document.forms["updateBlogForm"]["blogUpdateAuthor"].value;
    var addText = document.forms["updateBlogForm"]["blogUpdateText"].value;
    var SubmitBtn = document.forms["updateBlogForm"]["SubmitBtn"].value;
    params = 'blogUpdateTitle='+blogUpdateTitle+'&blogUpdateAuthor='+blogUpdateAuthor+'&blogUpdateText'+blogUpdateText+'&SubmitBtn='+SubmitBtn;
    var xhttp = new XMLHttpRequest();
    xhttp.open("POST", '/Admin', true); // true is asynchronous
    xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    xhttp.onload = function() {
      if (xhttp.readyState === 4 && xhttp.status === 200) {
        console.log(xhttp.responseText);
        document.getElementById("txt").innerHTML = xhttp.responseText;
      } else {
        console.error(xhttp.statusText);
      }
    };
    xhttp.send(params);
    return false;
  }

  // FAQ Script
  function FaqSubmit() {
    console.log("FAQ Submit Started")
    var faqQuestion = document.forms["updateFAQForm"]["faqQuestion"].value;
    var faqAnswer = document.forms["updateFAQForm"]["faqAnswer"].value;
    var SubmitBtn = document.forms["updateFAQForm"]["SubmitBtn"].value;
    params = 'faqQuestion='+faqQuestion+'&faqAnswer='+faqAnswer+'&SubmitBtn='+SubmitBtn;
    var xhttp = new XMLHttpRequest();
    xhttp.open("POST", '/Admin', true); // true is asynchronous
    xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    xhttp.onload = function() {
      if (xhttp.readyState === 4 && xhttp.status === 200) {
        console.log(xhttp.responseText);
        document.getElementById("txt").innerHTML = xhttp.responseText;
      } else {
        console.error(xhttp.statusText);
      }
    };
    xhttp.send(params);
    return false;
  }

</script>

{%endblock%}
