{% extends "Base.html" %}

{%block Content %}
  <head>
    <meta charset="utf-8">
    <title>Agile Kinetic - Blog</title>
    <link rel="stylesheet" href="/static/CSS/blog.css">
  </head>

  <div class="header">
   <h2>Updates and News</h2>
 </div>

       {%for item in data%}
 <div class="row">
   <div class="leftcolumn">
     <div class="card">

     <div class = "title">
       <p>{{item[0]}}</>
       <p>Author: {{item[1]}}<p>
     </div>

    <div class="message">
      <p>{{item[2]}}</p>
    </div>
     </div>
   </div>
 </div>

      {% endfor %}


{%endblock%}
