{% extends "Base.html" %}

{%block Content %}
  <head>
    <meta charset="utf-8">
    <title>Agile Kinetic - Blog</title>
    <link rel="stylesheet" href="/static/CSS/blog.css">
  </head>

  <div class="header">
   <h2>Updates and News</h2>
 </div>

 <div class="row">
   <div class="leftcolumn">
     <div class="card">

       {%for item in data%}

       <h2>{{item[0]}}</h2>
       <h3>Author: {{item[1]}}</h3>
       <h5>{{item[2]}}</h5>
       <div class="img" style="height:200px;">Image</div>
       <p>Some text...</p>
     </div>
   </div>
 </div>

      {% endfor %}


{%endblock%}
