{% extends "Base.html" %}

{%block Content %}

<head>
  <title>Contact Us Page</title>
</head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../static/CSS/contact.css">
<div class = "body">
  <div class="Contactpage">
    <h1>Contact Us Page</h1>
    <h2>How to get assistance</h2>
    <p>For help from our team, use an online service to contact, or call.</p>
    <p>For urgent medical help, use the NHS 111 online service, or call 111 if you are unable to get help online.</p>
    <p>For life-threatening emergencies, call 999 for an ambulance.</p>
  </div>

  <form class = "page_form">
    <label for="fname">First name:</label><br>
    <input type="text" id="fname" name="fname" placeholder="Your First name..."><br>
    <label for="lname">Last name:</label><br>
    <input type="text" id="lname" name="lname" placeholder="Your Last name..."><br>
    <label for="email">Email Address:</label><br>
    <input type="text" id="email" name="email" placeholder="Your email address..."><br>

    <label for="Whoyouare">Please select:</label><br>
    <label for="clinician">Clinician</label><br>
    <input type="radio" id="clinician" name="person" value="clinician">
    <label for="patient">Patient</label><br>
     <input type="radio" id="patient" name="person" value="patient">
     <br>
    <label for="query">Type a Query:</label>
    <select name="query" id="query">
      <option value="A">ABC</option>
      <option value="B">BCD</option>
      <option value="C">CDE</option>
      <option value="D">DEF</option>
    </select><br>

    <label for="message">Message</label>
      <textarea id="message" name="message" placeholder="Write a message..." style="height:200px"></textarea>

   <input class="submit" type="submit" value="Submit">
  </form>
</div>
{%endblock%}
