<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="footer.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <footer class="footer">
      <article class="link">
        <a href="url">terms and conditions</a>
        <a href="url">link text</a>
        <a href="url">link text</a>
        <a href="url">link text</a>
      </article>

      <div class="footer-socials">
        <a href="https://www.facebook.com/AgileKinetic/" target="_blank" class="fa fa-facebook"></a>
        <a href="https://twitter.com/AgileKinetic/" target="_blank" class="fa fa-twitter"></a>
      </div>


    </footer>
  </body>
</html>
